---
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*,

  bugprone-*,
  -bugprone-unchecked-optional-access,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,

  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,

  performance-*,

  portability-*,
  -portability-avoid-pragma-once,
  -portability-simd-intrinsics,

  readability-*,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-math-missing-parentheses, #no, 'a + B * C' obeying math rules is not confusing,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-static-definition-in-anonymous-namespace,
  -readability-uppercase-literal-suffix,

WarningsAsErrors: >-
  performance-move-const-arg,
  performance-unnecessary-value-param,
  readability-duplicate-include,
HeaderFilterRegex: '.*\.(hpp|cppm|cpp)$'
FormatStyle:     none
CheckOptions: []
...
